body {
    font-family: Roboto, sans-serif;
    background-color: #e2d7aa;
    color: #000000;
    font-size: 16px;
    width: 1180px;
    margin: auto;
}
img {
    width: 1180px;
    height: 450px;
}
.img-container {
    width: 1180px;
    height: 450px;
    margin-top: 65px;
    text-align: center;
}
h1 {
    font-size: 80px;
    text-align: center;
    font-family: Indie Flower, cursive;
}
nav {
    margin: 30px;
}
a {
    font-size: 28px;
    color: #000000;
}
.home, nav ul li:last-of-type a {
    color: #0a2d4a;
    font-weight: Bold;
}
article > img {
    width: 350px;
    height: 200px;
    margin: 0 0 20px 0;
}
article p::first-letter {
    font-family: Times New Roman, sans-serif;
    font-size: 40px;
}
article p span a {
    background-image: url("./images/bg2.jpg");
    color: #ffffff;
    padding: 10px;
    margin-top: 10px;
    font-size: 15px;
    text-transform: uppercase;
    text-decoration: none;
    font-weight: bold;
}
footer {
    margin: 0px;
    padding: 20px 0 10px 0;
    text-align: center;
}
article p:last-of-type span:first-of-type a::before { 
    content: url("images/comment.png");
    position: relative;
    right: 5px;
    top: 7px;
    padding: 10px;
}

ul {
    padding: 0;
    margin: 0;
    list-style: none;
    text-align: center;
}
ul li {
    display: inline;
    padding: 0 20px 0 20px;
}
ul li a {
    text-decoration: none;
}
main {
    display: flex;
    justify-content: space-between;
}
article {
    max-width: 30%;
    text-align: center;
}
article p:first-of-type {
    text-align: justify;
    margin-top: 0;
    line-height: 22px;
}
h2, h3 {
    margin: 0;
}
h2 {
    margin-top: 20px;
}
h3 {
    font-size: 15px;
    margin-bottom: 5px;
}
h3 a {
    font-size: 15px;
    color: #0044ff;
    text-decoration: none;
}
article p:last-of-type {
    text-align: left;
}body {
    font-family: Roboto, sans-serif;
    background-color: #e2d7aa;
    color: #000000;
    font-size: 16px;
    width: 1180px;
    margin: auto;
}
img {
    width: 1180px;
    height: 450px;
}
.img-container {
    width: 1180px;
    height: 450px;
    margin-top: 65px;
    text-align: center;
}
h1 {
    font-size: 80px;
    text-align: center;
    font-family: Indie Flower, cursive;
}
nav {
    margin: 30px;
}
a {
    font-size: 28px;
    color: #000000;
}
.home, nav ul li:last-of-type a {
    color: #0a2d4a;
    font-weight: Bold;
}
article > img {
    width: 350px;
    height: 200px;
    margin: 0 0 20px 0;
}
article p::first-letter {
    font-family: Times New Roman, sans-serif;
    font-size: 40px;
}
article p span a {
    background-image: url("./images/bg2.jpg");
    color: #ffffff;
    padding: 10px;
    margin-top: 10px;
    font-size: 15px;
    text-transform: uppercase;
    text-decoration: none;
    font-weight: bold;
}
footer {
    margin: 0px;
    padding: 20px 0 10px 0;
    text-align: center;
}
article p:last-of-type span:first-of-type a::before { 
    content: url("images/comment.png");
    position: relative;
    right: 5px;
    top: 7px;
    padding: 10px;
}

ul {
    padding: 0;
    margin: 0;
    list-style: none;
    text-align: center;
}
ul li {
    display: inline;
    padding: 0 20px 0 20px;
}
ul li a {
    text-decoration: none;
}
main {
    display: flex;
    justify-content: space-between;
}
article {
    max-width: 30%;
    text-align: center;
}
article p:first-of-type {
    text-align: justify;
    margin-top: 0;
    line-height: 22px;
}
h2, h3 {
    margin: 0;
}
h2 {
    margin-top: 20px;
}
h3 {
    font-size: 15px;
    margin-bottom: 5px;
}
h3 a {
    font-size: 15px;
    color: #0044ff;
    text-decoration: none;
}
article p:last-of-type {
    text-align: left;
}